
body{
    background-size: 100% auto;
    background-color: lightgrey;
}

.page{
      margin: auto;
      font-family: Calibri, sans-serif;
      font-size: 16px;
      width: 780px;
}
.name{
  color: blue;
}

.contact{
  text-decoration: underline;
  font-style: italic;
}

strong{
      font-size: 26px;
}

.infophoto{
          height: 250px;
}

.info{
      float: left;
      background-color: lightgrey;
      color: blue;
}

.photo{
      float: right;
}

h2{
  font-size: 28px;
  text-transform: uppercase;
  border-bottom: 3px solid #3388DD;
  color: #3388BB;
}

.bloc{
      margin-bottom: 70px;
      text-align: justify;
}

.gauche{
        float: left;
        font-weight: bold;
}

#compet-gauche p{
                margin-bottom:10px;
                color: blue;
}

#exp{
  color: green;
}
#forma-gauche p{
  color: green;
}
#interet{
  color: blue;
}
.droite{
        margin-left: 200px;
        margin-top: 40px;
}

.title{
      font-weight: bold;
      font-size: 20px;
}
